# _IDENTIFIER_

server {
    listen 80;
    listen [::]:80;

    server_name _DOMAIN_
                www._DOMAIN_
                ;

    root /var/www;
    index index.html;

    access_log /var/log/nginx/_DOMAIN_.access.log;
    error_log /var/log/nginx/_DOMAIN_.error.log;

    location / {
        proxy_pass http://127.0.0.1:_PORT_;
    }
}
